<p>dashboard works!</p>

<nav>
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <li>
      <a
        routerLink="/deck/1"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Deck 1
      </a>
    </li>
  </ul>
</nav>
